
        <div class="container mb-4">
            <div class="row">
                <div class="col-lg-4 pb-5">
                    <app-myaccount></app-myaccount>
                </div>
                <!-- Wishlist-->
                <div class="col-lg-8 pb-5">
                    <!-- Item-->
                    <div class="cart-item d-md-flex justify-content-between"
                    *ngFor="let pro of productList;"
                    ><span class="remove-item" (click)="remove(pro.id)"><i class="fa fa-times"></i></span>
                        <div class="px-3 my-3">
                            <a class="cart-item-product" style="cursor: pointer;" href="{{baseURL}}/detail/{{pro.id}}">
                                <div class="cart-item-product-thumb"><img src="{{pro.productLines[0].images[0].url}}" alt="Product"></div>
                                <div class="cart-item-product-info">
                                    <h4 class="cart-item-product-title">{{pro.name}}</h4>
                                    <div class="text-lg text-body font-weight-medium pb-1">${{pro.price}}</div><span>Availability: <span class="text-success font-weight-medium">
                                        {{pro.status != 1 ? 'In stock' : 'Not available'}}
                                    </span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    



