
<!--<p>myaccount works!</p>-->
<div class="container mb-4 main-container">
    <div class="author-card pb-3">
        <div class="author-card-cover" style="background-color:black;"></div>
        <div class="author-card-profile">
            <div class="author-card-avatar"><img src="https://t4.ftcdn.net/jpg/02/79/66/93/360_F_279669366_Lk12QalYQKMczLEa4ySjhaLtx1M2u7e6.jpg" alt="Daniel Adams">
            </div>
            <div class="author-card-details">
                <h5 class="author-card-name text-lg">{{currentUser.username}}</h5><span class="author-card-position">{{currentUser.email}}</span>
            </div>
        </div>
    </div>
    <div class="wizard">
        <nav class="list-group list-group-flush">
            <a class="list-group-item" routerLinkActive="active" routerLink="/orderlist">
                <div class="d-flex justify-content-between align-items-center">
                    <div><i class="fa fa-shopping-bag mr-1 text-muted"></i>
                        <div class="d-inline-block font-weight-medium text-uppercase">Orders List</div>
                    </div>
                </div>
            </a><a class="list-group-item " routerLinkActive="active" routerLink="/profileset"><i class="fa fa-user text-muted"></i>Profile Settings</a>
            <a class="list-group-item"routerLinkActive="active" routerLink="/favorpro" tagert="__blank">
                <div class="d-flex justify-content-between align-items-center">
                    <div><i class="fa fa-heart mr-1 text-muted"></i>
                        <div class="d-inline-block font-weight-medium text-uppercase">Favorite Product</div>
                    </div>
                </div>
            </a>
        </nav>
    </div>

</div>
    

           
        
        
   