<div class="container mb-4 main-container">
    <div class="row">
        <div class="col-lg-4 pb-5">
            <app-myaccount></app-myaccount>
        </div>
        <!-- Profile Settings-->
        <div class="col-lg-8 pb-5" style="margin:auto">
            <form (ngSubmit)="update(f)" class="row" #f="ngForm">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username-tp">Username</label>
                        <input class="form-control" type="text" id="username-tp" value="{{currentUser.username}}"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username">New Username</label>
                        <input ngModel class="form-control" type="text" id="username" name="username">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email-tp">Email</label>
                        <input class="form-control" type="email" id="email-tp" value="{{currentUser.email}}" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">New Email</label>
                        <input ngModel class="form-control" type="email" id="email" name="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone-tp">Phone Number</label>
                        <input class="form-control" type="text" id="phone-tp" value="{{currentUser.phone}}" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone">New Phone Number</label>
                        <input ngModel class="form-control" type="text" id="phone" name="phone">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input ngModel class="form-control" type="password" id="password" name="password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="newpass">New Password</label>
                        <input ngModel class="form-control" type="password" id="newpass" name="newpass">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="newpass_confirm">Confirm New Password</label>
                        <input ngModel class="form-control" type="password" id="newpass_confirm" name="newpass_confirm">
                    </div>
                </div>
                <div class="col-12">
                    <hr class="mt-2 mb-3">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <button class="btn btn-style-1 btn-primary" type="submit" data-toast=""
                            data-toast-position="topRight" data-toast-type="success"
                            data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
                            data-toast-message="Your profile updated successfuly.">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>