<section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__breadcrumb">
                        <a routerLinkActive="active" routerLink="/home">Home</a>
                        <a routerLinkActive="active" routerLink="/clothing-list">Clothing</a>
                        <span>Product Details</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" *ngFor="let image of product.productLines[currentLineIndex].images;">
                            <a class="nav-link active" data-toggle="tab" href="{{image.url}}" role="tab">
                                <div class="product__thumb__pic set-bg">
                                    <div class="thumb">
                                        <img src="{{image.url}}" alt="imag">
                                        <br>
                                    </div>
                                    <div class='col'></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="1" role="tabpanel" *ngIf="product.productLines as imgLine">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel" align="center">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="thumb">
                                            <td> <img src="{{imgLine[currentLineIndex].images[0].url}}"> </td>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="thumb">
                                            <td> <img src="{{imgLine[currentLineIndex].images[1].url}}"> </td>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="thumb">
                                            <td> <img src="{{imgLine[currentLineIndex].images[2].url}}"> </td>
                                        </div>
                                    </div>


                                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"
                                        sty>
                                        <span class="carousel-control-prev-icon" aria-hidden="true"
                                            style="background-image:url('../assets/img/icon/arrow-left.png')"></span>
                                    </a> <a class="carousel-control-next" href="#myCarousel" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"
                                            style="background-image:url('../assets/img/icon/arrow-right.png')"></span>
                                    </a>


                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4>{{product.name}}</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span> - {{product.feedbacks.length}} Reviews</span>
                        </div>
                        <h3>${{product.price}}</h3>
                        <div class="product__details__option">
                            <div class="product__details__option__color">
                                <span>Color:</span>
                                <img src="{{line.textureImage}}" (click)="selectProductLine(line.id)" *ngFor="let line of product.productLines;">
                            </div>
                        </div>
                        <div class="product__details__cart__option">
                            <form (ngSubmit)="addToCart(f)" #f="ngForm">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input ngModel type="number" name="quantity" id="quantity" required>
                                    </div>
                                </div>
                                <button class="primary-btn" type="submit">add to cart</button>
                            </form>
                        </div>
                        <div class="product__details__btns__option">
                            <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
                        </div>
                        <div class="product__details__last__option">
                            <h5><span>Guaranteed Safe Checkout</span></h5>
                            <img src="img/shop-details/details-payment.png" alt="">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-5" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">Customer
                                    Previews(5)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">Additional
                                    information</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <div class="product__details__tab__content__item">
                                        <p>{{product.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-6" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <div *ngIf="token!==''">
                                        <form (ngSubmit)="updateFeedback(f)" #f="ngForm">
                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label for="star">Star</label>
                                                    <select ngModel id="star" name="star" class="form-control">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-9">
                                                    <label for="content">Content</label>
                                                    <textarea ngModel id="content" name="content" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-dark">Upload</button>
                                        </form>
                                    </div>
                                    <br/>
                                    <div class="row" *ngFor="let feedback of product.feedbacks;">
                                        <div class="col-lg-4">
                                            <h4>{{feedback.name}}</h4>
                                            <p>{{feedback.createdDate}}</p>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>
                                                <i class="fa fa-star" *ngFor="let star of feedback.starLeft;"></i>
                                                    <i class="fa fa-star-o" *ngFor="let star of feedback.starRight;"></i>
                                            </div>
                                            <p>{{feedback.content}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-7" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <ul>
                                        <li><span>Categories:</span> Clothes</li>
                                        <li><span>Tag:</span> Clothes, Skin, Body</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->