

        <div class="container mb-4 main-container">
            <div class="row">
                <div class="col-lg-4 pb-5">
                    <app-myaccount></app-myaccount>
                </div>
                <!-- Orders Table-->
                <div class="col-lg-8 pb-5">
                    <div class="d-flex justify-content-end pb-3">
                        <div class="form-inline">
                            <label class="text-muted mr-3" for="order-sort">Sort Orders</label>
                            <select class="form-control" id="order-sort" (change)="selectTypeOrder($event)">
                                <option>All</option>
                                <option>Accepted</option>
                                <option>Deny</option>
                                <option>Canceled</option>
                                <option>Shipping</option>
                                <option>Complete</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Order #</th>
                                    <th>Date Purchased</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders;">
                                    <td><a class="navi-link" data-toggle="modal" routerLinkActive="active" routerLink="/orderdetail/{{order.id}}">{{order.id}}</a></td>
                                    <td>{{order.datePurchase}}</td>
                                    <td><span class="badge badge-success m-0">{{order.status}}</span></td>
                                    <td>$ {{order.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
   